doctype html
html
  head
    - var css_files = ['reports.css', 'fonts.css', 'lib/bootstrap.min.css', 'lib/bootstrap-theme.min.css', 'charts/graphs.css', 'charts/slider-chart.css']
    - var js_files = ['libraries/jquery-2.1.4.min.js', 'libraries/bootstrap.min.js', 'libraries/loadash.min.js', 'libraries/d3.min.js', 'charts/custom-chart-lib.js', 'charts/chart-worker.js', 'pdf-report.js']

    each css_file in css_files
      link(rel='stylesheet', href="#{requestedUrl}/css/#{css_file}", type='text/css', media='all')

    script(src="#{requestedUrl}/js/client_helper.js")

    script.
      var skillsQA = jsonParse("#{skillsQA}");
      var culctureQA = jsonParse("#{culctureQA}");
      var managerEffectivenessQA = jsonParse("#{managerEffectivenessQA}");
      var teamEffectivenessQA = jsonParse("#{teamEffectivenessQA}");
      var behaviors = jsonParse("#{behaviorsQA}");
      var multiRatersSkills = jsonParse("#{multiRatersSkills}");
      var multiRatersBehaviours = jsonParse("#{multiRatersBehaviours}");
      var employeeManagerRatingBehaviours = jsonParse("#{employeeManagerRatingBehaviours}") 
      var employeeManagerRatingSkills = jsonParse("#{employeeManagerRatingSkills}") 
      var employeeTeamRatingBehaviours = jsonParse("#{employeeTeamRatingBehaviours}") 
      var employeeTeamRatingSkills = jsonParse("#{employeeTeamRatingSkills}") 
      var employeeTeamEffectiveness = jsonParse("#{employeeTeamEffectiveness}") 
      
  body
    #wrapper.container-fluid
      .row
        .col-md-12
          .section-wrapper.cover-p
            img.background-img(src="#{requestedUrl}/img/imc-html-email-cover.png")
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.png", width='85', height='45', alt='')
            .title-wrapper.pull-right.text-right
              .text-uppercase.green-color  growth report
              .text-capitalize.name-wrapper.blue-color #{user.full_legal_name} Team Member
            .imc-logo-wrapper
              img(src="#{requestedUrl}/img/imc-logo.jpg")
          
          .section-wrapper.p-b-none.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.png", width='85', height='45', alt='')
            .section-title
              span.text-uppercase how to use this report
            .l-wrapper
              .row.h-t-u-report
                .col-md-2
                .col-md-2
                .col-md-2
                  div.whitebold 1
                  div.white Read your results and use the reflection questions to interpret them.
                .col-md-2
                  div.whitebold 2
                  div.white Develop a draft of your growth plan.
                .col-md-2
                  div.whitebold 3
                  div.white Review your growth plan with your manager and finalize your growth plan.
            .text-right
              .btn-green.pull-right >>
              
          .section-wrapper.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.text-uppercase about populo
            .section-s-title
              strong.blue-color populo is how we measure and plan for performance at Engage Chicago.
            .populo-formula-wrapper
              span.blue-color populo =
              span  Review +
              span  Growth
            p
              | populo has two parts. The review component measures how you have performed while the growth component identifies opportunities for how you will grow. Involvement in populo will result in an individualized growth plan, which you can use to guide and monitor your personal growth throughout the year.
            p
              strong.text-capitalize.blue-color what’s in the report
              br
              | This report contains results for the five dimensions of growth at Engage: (1) culcture, (2) team effectiveness, (3) manager effectiveness, (4) behaviors, and (5) skills.
            .l-wrapper
              .blue-color There are six sections to the report. 
              ul
                li.blue-color Sections 1-5 cover each dimension of growth including why we measure the dimension, your results, and reflection questions intended to help you complete your growth plan.
                li.blue-color Section 6 provides guidance on how to create your growth plan and next steps.
                li.blue-color There is also an appendix containing the raw data and end notes.              
            br 
            p
              strong.text-capitalize.blue-color the disclaimer
              br
              | You know yourself better than any survey knows you. This report takes into account how you, your team, your manager, and your multi-raters responded to the growth survey. We’ve tried to make the reflection questions as poignant as possible, but there is always room for improvement. Feel free to make notes or edit your report for accuracy, but only after checking with your manager and team. 
          
          .section-wrapper.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 1:
              span culcture
            p
              strong.blue-color We define culcture as learning and vitality–the energy and motivation that you bring each day to work. We believe that your culcture will lead to better results for you and the organization.
              sup.blue-color 1            
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you rated your own culcture. Each of the six concentric circles illustrate the degree to which you agreed with the related statement in the survey. The bigger the  circles and the more blue you see, the more likely it is that you feel as though you are culcture.

            .row.text-center.graphs
              #culcture-legend.text-center.ratings
                ul.-legend
                  li
                    span
                    span.ratings__label Not at all
                  li
                    span
                    span.ratings__label Not really
                  li
                    span
                    span.ratings__label Neutral  
                  li
                    span
                    span.ratings__label Yes
                  li
                    span
                    span.ratings__label Enthusiastic yes
              .row.text-center
                #culcture
                #culcture-support
          
          .section-wrapper.new.page-break
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(culcture) || (_.pluck(culcture.comments, 'answerText') == '')
                | Empty
              else
                each comment in culcture.comments
                  span !{comment.answerText.replace(/\n/g, '<br/>')}
            //.table-wrapper.clearfix
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color Highs
                  | <sup>2</sup>
                strong.s-title.blue-color You agreed most with the following statements:
                ul.p-l-18
                  - var isHighValueExist = false;
                  each qA in culcture.optionsSaved
                    if qA.selectedOption == 4
                      li.blue-color= qA.question_small
                      - isHighValueExist = true;
                  if !isHighValueExist
                    each qA in culcture.optionsSaved
                      if qA.selectedOption == 3
                        li.blue-color= qA.question_small
              .col-md-2          
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color Lows
                  | <sup>2</sup>
                strong.s-title.blue-color You agreed least with the following statements:
                ul.p-l-18
                  - var isLowValueExist = false;
                  each qA in culcture.optionsSaved
                    if qA.selectedOption == 0
                      li.blue-color= qA.question_small
                      - isLowValueExist = true;
                  if !isLowValueExist
                    each qA in culcture.optionsSaved
                      if qA.selectedOption == 1
                        li.blue-color= qA.question_small
            .r-questions-wrapper 
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might increase your learning and vitality. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                img(src="#{requestedUrl}/img/r-questions-icon.png", width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color What new things do you want to learn?
                  div
                    strong.s-blue-color How can you get more of the things that energize you?
          
          .section-wrapper.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 2:
              span.text-uppercase team effectiveness
            p
              strong.blue-color Cohesive and effective teams outperform ineffective teams. Having more effective teams at Engage will help us to achieve our business goals. We define the five functions of team effectiveness as trust, healthy conflict, commitment, accountability, and results.
              sup.blue-color 3
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you and your team rated team effectiveness. The more color you see the more likely it is that you or your team see your team as effective. The more alignment you see, the more likely it is that you and your team share a similar opinion of your team’s effectiveness.  
            .row.text-center.graphs.graphs-h-w.new-h
              .row
                .text-center.ratings.teameffectiveness__legend
                  ul.teameffectiveness__legend-wrapper
                    li.skills__label-item.teameffectiveness__label_you
                      span
                      span You
                    li.skills__label-item.teameffectiveness__label_team
                      span
                      span Your team
                .col-md-12.g-cleared.chart-wrapper.p-50.team-effectiveness__chart-wrapper
                  // new html
                  .skill__item
                  .skill__item
          .section-wrapper.new.page-break         
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(team_effectiveness) || (_.pluck(team_effectiveness.comments, 'answerText') == '')
                | Empty
              else
                each comment in team_effectiveness.comments
                  span !{comment.answerText.replace(/\n/g, '<br/>')}
            
            .table-wrapper.clearfix.col-md-12
              .col-md-5.p-l-none
                .table-title 
                  //strong.blue-color Highs
                  //| <sup>2</sup>
                  strong.blue-color &nbsp;
                strong.s-title.blue-color You find your team to be most effective in: 
                sup.blue-color 2 &nbsp;&nbsp;&nbsp;
                ul.p-l-18
                  - var isHighValueExist = false;
                  each qA in team_effectiveness.optionsSaved
                    if qA.selectedOption == 4
                      li.blue-color= qA.question_small
                      - isHighValueExist = true;
                  if !isHighValueExist
                    each qA in team_effectiveness.optionsSaved
                      if qA.selectedOption == 3
                        li.blue-color= qA.question_small
              .col-md-2          
              .col-md-5.p-l-none
                .table-title 
                  //strong.blue-color Lows
                  //| <sup>2</sup>
                  strong.blue-color &nbsp;
                strong.s-title.blue-color You find your team to be least effective in: 
                sup.blue-color 2 &nbsp;&nbsp;&nbsp;
                ul.p-l-18
                  - var isLowValueExist = false;
                  each qA in team_effectiveness.optionsSaved
                    if qA.selectedOption == 0
                      li.blue-color= qA.question_small
                      - isLowValueExist = true;
                  if !isLowValueExist
                    each qA in team_effectiveness.optionsSaved
                      if qA.selectedOption == 1
                        li.blue-color= qA.question_small
            .table-wrapper.clearfix.col-md-12
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color &nbsp;
                strong.s-title.blue-color Your team finds itself to be most effective in: &nbsp;
                ul.p-l-18
                  - var isHighValueExist = false;
                  each qA in team_effectiveness.optionsSaved
                    if qA.selectedOption == 4
                      li.blue-color= qA.question_small
                      - isHighValueExist = true;
                  if !isHighValueExist
                    each qA in team_effectiveness.optionsSaved
                      if qA.selectedOption == 3
                        li.blue-color= qA.question_small
              .col-md-2          
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color &nbsp;
                strong.s-title.blue-color Your team finds itself to be least effective in: &nbsp;
                ul.p-l-18
                  - var isLowValueExist = false;
                  each qA in team_effectiveness.optionsSaved
                    if qA.selectedOption == 0
                      li.blue-color= qA.question_small
                      - isLowValueExist = true;
                  if !isLowValueExist
                    each qA in team_effectiveness.optionsSaved
                      if qA.selectedOption == 1
                        li.blue-color= qA.question_small
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might contribute to your team’s effectiveness. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                img(src="#{requestedUrl}/img/r-questions-icon.png", width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color What contributed to these results?
                  div
                    strong.s-blue-color What might you do to help your team be more effective?
          
          .section-wrapper.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 3:
              span.text-uppercase manager effectiveness
            p
              strong.blue-color Manager effectiveness is directly correlated to employee satisfaction and engagement. The more effective our managers, the better our people and teams will be.
              sup.blue-color 4
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you rated your manager’s effectiveness. The size and color of each circle illustrates the degree to which you agreed with the related statement in the survey. The bigger the circles and the more blue you see, the more likely it is that you feel as though your manager is effective.  
            .row.text-center.graphs
              #manager-effectiveness-legend.text-center.ratings
                ul.-legend
                  li
                    span
                    span.ratings__label Not at all
                  li
                    span
                    span.ratings__label Not really
                  li
                    span
                    span.ratings__label Neutral  
                  li
                    span
                    span.ratings__label Yes
                  li
                    span
                    span.ratings__label Enthusiastic yes
              .row.text-center
                #manager-effectiveness
                #manager-effectiveness-support
          
          .section-wrapper.new.page-break
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(manager_effectiveness) || (_.pluck(manager_effectiveness.comments, 'answerText').join('') == '')
                | Empty
              else
                each comment in manager_effectiveness.comments
                  span !{comment.answerText.replace(/\n/g, '<br/>')}
            //.table-wrapper.clearfix
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color Highs
                  | <sup>2</sup>
                strong.s-title.blue-color You find your manager to be most effective in:
                ul.p-l-18
                  - var isHighValueExist = false;
                  each qA in manager_effectiveness.optionsSaved
                    if qA.selectedOption == 4
                      li.blue-color= qA.question_small
                      - isHighValueExist = true;
                  if !isHighValueExist
                    each qA in manager_effectiveness.optionsSaved
                      if qA.selectedOption == 3
                        li.blue-color= qA.question_small
              .col-md-2          
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color Lows
                  | <sup>2</sup>
                strong.s-title.blue-color You find your manager to be least effective in:
                ul.p-l-18
                  - var isLowValueExist = false;
                  each qA in manager_effectiveness.optionsSaved
                    if qA.selectedOption == 0
                      li.blue-color= qA.question_small
                      - isLowValueExist = true;
                  if !isLowValueExist
                    each qA in manager_effectiveness.optionsSaved
                      if qA.selectedOption == 1
                        li.blue-color= qA.question_small
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might contribute to your manager’s effectiveness. Please take a moment to think about and jot down your response to the following question.
              .r-questions
                img(src="#{requestedUrl}/img/r-questions-icon.png", width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color How might you contribute to the effectiveness of your manager?
          
          .section-wrapper.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 4:
              span.text-uppercase behaviors
            p
              strong.blue-color These nine behaviors outline what we believe are the key behavioral indicators team members need to be successful at Engage. Collectively, they measure that (1) you make things happen, (2) you work smart, and (3) people want you on their team. These behaviors are applicable to and measured for all employees.
              sup.blue-color 5
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you, your team, your manager, and your multi-raters rated your behaviors. The location and color of the circle on the line illustrates how you were rated on each behavior.
            .row
              .text-center.ratings.behaviours__legend
                ul.behaviours__legend-wrapper
                  li.behaviours__label-item.behaviours__label_significant_growth_needed
                    span
                    span Significant growth needed
                  li.behaviours__label-item.behaviours__label_some_growth_needed
                    span
                    span Some growth needed
                  li.behaviours__label-item.behaviours__label_adequately_exhibits_this_skill
                    span
                    span Adequately demonstrates this behavior
                  li.behaviours__label-item.behaviours__label_exemplifies
                    span
                    span Exemplifies
                  li.behaviours__label-item.behaviours__label_exemplifies_and_successfully_grows
                    span
                    span Exemplifies and successfully grows it in others
              .col-md-12.g-cleared.chart-wrapper.behaviours__chart-wrapper
                
          .section-wrapper.new.page-break         
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(behaviors) || (_.pluck(behaviors.comments, 'answerText') == '')
                | Empty
              else
                each comment in behaviors.comments
                  p !{comment.answerText.replace(/\n/g, '<br/>')}
            .table-wrapper.col-md-10
              .table-title 
                strong.blue-color How you compare
                sup.blue-color 2
            .table-wrapper.clearfix.col-md-10
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color.font-size-14 BEHAVIOR
              .col-md-1          
              .col-md-3.p-l-none
                .table-title 
                  strong.blue-color.font-size-14 YOUR AVERAGE
              .col-md-1          
              .col-md-3.p-l-none
                .table-title 
                  strong.blue-color.font-size-14 AVERAGE TOP SCORE    
            each qA in behaviors.optionsSaved
              .table-wrapper.clearfix.col-md-10
                .col-md-5.p-l-none
                  .blue-color.text-capitalize= qA.question_small.split('-')[1].trim()
                .col-md-1          
                .col-md-3.p-l-none
                  .blue-color= qA.selectedOption
                .col-md-1          
                .col-md-3.p-l-none
                  .blue-color= qA.selectedOption
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might better exemplify the behaviors. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                .col-xs-2.text-center
                  img(src="#{requestedUrl}/img/r-questions-icon.png", width='72', height='72', alt='')
                .col-xs-10.word-wrap
                  .r-q-wrapper
                    div
                      strong.s-blue-color What contributed to these results?
                    div
                      strong.s-blue-color How might you need to adjust your behaviors as you grow at Engage?
          
          .section-wrapper.new.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 5:
              span.text-uppercase skills
            p
              strong.blue-color The skills measured are required to be successful in your function at Engage. These skills were identified by the manager(s) in your function for this growth cycle.
              sup.blue-color 6
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you, your team and your manager rated your skills. The height of the bar illustrates how you were rated in each skill. 
            .row.text-center.graphs.graphs-h-w.new-h1
              .row
                .text-center.ratings.skills__legend
                  ul.skills__legend-wrapper
                    li.skills__label-item.skills__label_you
                      span
                      span You
                    li.skills__label-item.skills__label_manager
                      span
                      span Your manager
                    li.skills__label-item.skills__label_team
                      span
                      span Your team
                br
                br 
                .col-md-12.g-cleared.chart-wrapper.p-50.skills__chart-wrapper
                  // new html
                  .skill__item
          
          .section-wrapper.new.page-break
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(skills) || (_.pluck(skills.comments, 'answerText') == '')
                | Empty
              else
                each comment in skills.comments
                  p !{comment.answerText.replace(/\n/g, '<br/>')}
            .table-wrapper.col-md-10
              .table-title 
                strong.blue-color How you compare
                sup.blue-color 2
            .table-wrapper.clearfix.col-md-10
              .col-md-5.p-l-none
                .table-title 
                  strong.blue-color.font-size-14 SKILL
              .col-md-1          
              .col-md-3.p-l-none
                .table-title 
                  strong.blue-color.font-size-14 YOUR AVERAGE
              .col-md-1          
              .col-md-3.p-l-none
                .table-title 
                  strong.blue-color.font-size-14 FUNCTION AVERAGE
            each qA in skills.optionsSaved
              .table-wrapper.clearfix.col-md-10
                .col-md-5.p-l-none
                  .blue-color.text-capitalize= qA.question_small
                .col-md-1          
                .col-md-3.p-l-none
                  .blue-color= qA.selectedOption
                .col-md-1          
                .col-md-3.p-l-none
                  .blue-color= qA.selectedOption
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might better exemplify these skills. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                img(src="#{requestedUrl}/img/r-questions-icon.png", width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color What contributed to these results?
                  div
                    strong.s-blue-color What existing skills do you want to continue to develop?
                  div
                    strong.s-blue-color What skills do you need/want to add as you grow at Engage?
          
          .section-wrapper.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.svg", width='85', height='45', alt='')
            .section-title
              span.text-uppercase.s-blue-color section 6:
              span.text-uppercase CREATING YOUR GROWTH PLAN
            p
              strong.blue-color Everyone at Engage will be creating growth plans. Growth plans help identify and clarify development targets and strategies for hitting those targets. Growth plans also provide structure for individual growth and development. As you develop your growth plan, we ask that you adopt a growth mindset.
              sup.blue-color 7
            
            .l-wrapper
              .row.h-t-u-report
                .col-md-2.width-40
                  div.white The following outlines the steps you need to take next.
                .col-md-2.width-25
                  div.whitebold 1
                  div.white Interpret your results and develop your growth plan.
                .col-md-2.width-25
                  div.whitebold 2
                  div.white Review your growth plan with your manager and finalize your growth plan.
            .text-right
              .btn-green.pull-right >>
          
          //.section-wrapper.page-break
            p.p-b-5
              strong.blue-color 1. Interpret Your populo Results
              .blue-color Your responses to the questions below will help you identify the goals to include in your growth plan.
            div.clearfix
              .col-md-2.growth-arrow
                .btn-green.pull-left >>
              .col-md-10.word-wrap
                p.p-b-5
                  strong.s-blue-color What skills or behaviors do you need to develop to perform better in your job today?
                p.p-b-5
                  strong.s-blue-color What skills or behaviors do you need/want to develop as you grow at Engage?
                p.p-b-5
                  strong.s-blue-color What specific responsibilities, projects, or tasks do you need/want to be a part of?
            br
            br
            p.p-b-5
              strong.blue-color 2. Develop Your Growth Plan
              .blue-color Growth planning at Engage is based on the 70-20-10 Learning Model.<sup>8</sup>
            .table-wrapper
              table.t-w-25.t-s(width='100%', border='0')
                tbody
                  tr
                    td
                      div
                        strong.blue-color Goals
                      div
                        strong.blue-color should be specific, measurable, actionable, realistic, and time bound
                    td
                      div
                        strong.white-color 70%
                      .white-color of growth comes from experience-based assignments
                    td
                      div
                        strong.white-color 20%
                      .white-color of growth comes from coaching and mentoring
                    td
                      div
                        strong.white-color 10%
                      .white-color of growth comes from formal training and self-study
                  tr
                    td
                      | Consider naming a few goals you want to accomplish in the next 3-6 months. <br> Goals can include the following: <br><strong>1.</strong> A specific responsibility, task, or project <br><strong>2.</strong> A skill you want or need to develop <br><strong>3.</strong> A behavior that you want or need to develop
                    td
                      | Consider some experience-based projects or assignments that will help you to accomplish each goal or develop each skill or behavior.
                    td
                      | Consider some ways you might leverage team members, mentors, or managers at Engage to help you accomplish this goal or develop this skill or behavior.
                    td
                      | Consider some books/articles, conferences or formal trainings that will help you to accomplish this goal or develop this skill  or behavior.
          
          .section-wrapper.new.page-break
            p
              strong.blue-color 2. Initiate Next Steps
            
            p
              strong.blue-color Your next steps
              br
              | At Engage, we believe you will be more likely to accomplish your career goals if you take responsibility for your growth plan with your manager’s support. With that in mind, it is your responsibility to initiate these two steps. 
            p.p-35
              strong.c-green 1. Growth plan discussion &nbsp;
              | –  Plan to review your growth survey results with your manager and share the thinking behind your growth plan. You can expect him/her to ask you questions and offer additional perspective. Together you will determine whether anything should be modified and ultimately finalize your plan. 
            p.p-35
              strong.c-green 2. Growth plan check-ins &nbsp;
              | – Growth planning is a continuous process. Check-in with your manager and your team on a regular basis to discuss how you are progressing. 
            br 
            p
              strong.blue-color Your manager’s next steps
              br
              | Your populo reports and your growth plan alone will not guarantee your growth here at Engage. Sharing your goals with your team and your manager means you are committing to them. This openness also helps others to contribute and hold you accountable for what you want to achieve. The discussions around team effectiveness will help you to better understand the goals of the team overall.
            p.p-35
              strong.c-green 2. Team effectiveness discussion &nbsp;
              | – Your manager will set-up a time to discuss how you and your team rated your team effectiveness and facilitate a discussion on how the team can increase its effectiveness.
    
          //.section-wrapper.page-break
            .section-title.appendix
              span.text-uppercase.blue-color APPENDIX
            .table-wrapper
              .table-title 
                strong.blue-color Results in Detail
            br 
            br
            .table-wrapper
              .table-title 
                span.appendix-details.text-uppercase culcture
            .table-wrapper.clearfix
              table.t-w-25(width='100%', border='0')
                tbody
                  each qA in culcture.optionsSaved
                    tr
                      td.blue-color= qA.question 
                      td.blue-color= qA.answerText
            br 
            br
            .table-wrapper
              .table-title 
                span.appendix-details.text-uppercase TEAM EFFECTIVENESS
            .table-wrapper.clearfix
              table.t-w-25(width='100%', border='0')
                thead
                  tr
                    th.blue-color(colspan=2) Your responses:
                    th.blue-color(colspan=2) Your team’s responses:
                tbody
                  each qA in team_effectiveness.optionsSaved
                    tr
                      td.blue-color= qA.question_small 
                      td.blue-color= qA.answerText
                      td.blue-color= qA.question_small 
                      td.blue-color= qA.answerText
            br
            br
            .table-wrapper
              .table-title 
                span.appendix-details.text-uppercase MANAGER EFFECTIVENESS
            .table-wrapper.clearfix
              table.t-w-25(width='100%', border='0')
                tbody
                  each qA in manager_effectiveness.optionsSaved
                    tr
                      td.blue-color.td-w-65= qA.question 
                      td.blue-color= qA.answerText
          
          //.section-wrapper.page-break
            .table-wrapper
              .table-title 
                span.appendix-details.text-uppercase BEHAVIORS
            .table-wrapper.clearfix
              .col-md-3
              .col-md-3.p-l-none
                .table-title 
                  strong.font-size.appendix-detail-table-header You Make Things Happen                
              .col-md-3.p-l-none
                .table-title 
                  strong.font-size.appendix-detail-table-header You Work Smart
              .col-md-3.p-l-none
                .table-title 
                  strong.font-size.appendix-detail-table-header People Want You On Their Team
              - var i = 0
              while i < 3
                table.t-w-25(width='100%', border='0')
                  thead
                    tr
                      th Responder
                      th.blue-color.text-capitalize= behaviors.optionsSaved[i].question_small.split('-')[1].trim()
                      th.blue-color.text-capitalize= behaviors.optionsSaved[i+(1*3)].question_small.split('-')[1].trim()
                      th.blue-color.text-capitalize= behaviors.optionsSaved[i+(2*3)].question_small.split('-')[1].trim()
                  tbody
                    tr
                      td.blue-color You 
                      td.blue-color= behaviors.optionsSaved[i].answerText
                      td.blue-color= behaviors.optionsSaved[i+(1*3)].answerText 
                      td.blue-color= behaviors.optionsSaved[i+(2*3)].answerText
                    tr
                      td.blue-color Manager 
                      td.blue-color= behaviors.optionsSaved[i].answerText
                      td.blue-color= behaviors.optionsSaved[i+(1*3)].answerText 
                      td.blue-color= behaviors.optionsSaved[i+(2*3)].answerText
                    tr
                      td.blue-color Team Member #1 
                      td.blue-color= behaviors.optionsSaved[i].answerText
                      td.blue-color= behaviors.optionsSaved[i+(1*3)].answerText 
                      td.blue-color= behaviors.optionsSaved[i+(2*3)].answerText
                    tr
                      td.blue-color Team Member #2 
                      td.blue-color= behaviors.optionsSaved[i].answerText
                      td.blue-color= behaviors.optionsSaved[i+(1*3)].answerText 
                      td.blue-color= behaviors.optionsSaved[i+(2*3)].answerText
                    tr
                      td.blue-color Multi-Rater #1
                      td.blue-color= behaviors.optionsSaved[i].answerText
                      td.blue-color= behaviors.optionsSaved[i+(1*3)].answerText 
                      td.blue-color= behaviors.optionsSaved[i+(2*3)].answerText
                    tr
                      td.blue-color Multi-Rater #2
                      td.blue-color= behaviors.optionsSaved[i].answerText
                      td.blue-color= behaviors.optionsSaved[i+(1*3)].answerText 
                      td.blue-color= behaviors.optionsSaved[i+(2*3)].answerText
                - i++
                br
          
          //.section-wrapper.page-break
            .table-wrapper
              .table-title 
                span.appendix-details.text-uppercase SKILLS
            .table-wrapper.clearfix
              - var i = 0
              while i < skills.optionsSaved.length
                table.t-w-25(width='100%', border='0')
                  thead
                    tr
                      th Responder
                      th.blue-color.text-capitalize= skills.optionsSaved[i] ? skills.optionsSaved[i].question_small : ''
                      th.blue-color.text-capitalize= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].question_small : ''
                      th.blue-color.text-capitalize= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].question_small : ''
                  tbody
                    tr
                      td.blue-color You 
                      td.blue-color= skills.optionsSaved[i] ? skills.optionsSaved[i].answerText : ''
                      td.blue-color= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].answerText : ''
                      td.blue-color= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].answerText : ''
                    tr
                      td.blue-color Manager 
                      td.blue-color= skills.optionsSaved[i] ? skills.optionsSaved[i].answerText : ''
                      td.blue-color= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].answerText : '' 
                      td.blue-color= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].answerText : ''
                    tr
                      td.blue-color Team Member #1 
                      td.blue-color= skills.optionsSaved[i] ? skills.optionsSaved[i].answerText : ''
                      td.blue-color= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].answerText : '' 
                      td.blue-color= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].answerText : ''
                    tr
                      td.blue-color Team Member #2 
                      td.blue-color= skills.optionsSaved[i] ? skills.optionsSaved[i].answerText : ''
                      td.blue-color= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].answerText : '' 
                      td.blue-color= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].answerText : ''
                    tr
                      td.blue-color Multi-Rater #1
                      td.blue-color= skills.optionsSaved[i] ? skills.optionsSaved[i].answerText : ''
                      td.blue-color= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].answerText : '' 
                      td.blue-color= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].answerText : ''
                    tr
                      td.blue-color Multi-Rater #2
                      td.blue-color= skills.optionsSaved[i] ? skills.optionsSaved[i].answerText : ''
                      td.blue-color= skills.optionsSaved[i+1] ? skills.optionsSaved[i+1].answerText : '' 
                      td.blue-color= skills.optionsSaved[i+2] ? skills.optionsSaved[i+2].answerText : ''
                - i += 3
                if i < skills.optionsSaved.length
                  br
                  .table-title 
                    span.appendix-details.text-uppercase
                  br
          .section-wrapper.page-break
            .text-right
              img(src="#{requestedUrl}/img/populo-logo.png", width='85', height='45', alt='')
            .section-title
              span.text-uppercase.blue-color APPENDIX
            br 
            br
            p.blue-color 
            sup.blue-color 1 
            span.blue-color Our measurement of culcture is informed by the work of Gretchen Spreitzer, author of A Socially Embedded Model of culcture at Work, and Paul McGinnis, a Neuroscientist at the NeuroLeadership Institute, and measures the degree to which you agreed with the six statements in the culcture portion of the growth survey. 
            p.blue-color 
            sup.blue-color 2 
            span.blue-color How this information is derived varies by index. 
              ul
                li.font-size-16.p-b-5.blue-color For team effectiveness, how you compare is based on how you evaluated your team as well as how the team evaluated itself. ‘Most effectives’ are populated by taking the statement agreed with most and any other statements with the same response. ‘Least effectives’ are populated by taking statements agreed with least and any other statements with the same response. 
                li.font-size-16.p-b-5.blue-color For behaviors, how you compare is populated by comparing your average score for each behavior (the average across you, your team, your manager, and your multi-raters) to the average score of the top performer in the particular behavior therefore illustrating how close or far you are from being the best in a particular behavior. 
                li.font-size-16.p-b-5.blue-color For skills, how you compare is populated by comparing your average score for each each skill (the average across you, your team, your manager, and your multi-raters) to the average score for that particular skill in your function. Not everyone has to be the best in every skill; however, this should help you to see where you stand in comparison to your peers and with your manager you can determine if growth is a worthy pursuit.
            p.blue-color 
            sup.blue-color 3 
            span.blue-color Our measurement of team effectiveness is informed by the work of Patrick Lencioni, author of The Advantage and Five Dysfunctions of a Team: A leadership fable and measures the degree to which you and your team agreed with the five statements in the team effectiveness portion of the growth survey.
            p.blue-color 
            sup.blue-color 4 
            span.blue-color Our measurement of manager effectiveness is informed by the work of Laszlo Bock, author of Work Rules: Insights from Inside Google, the Great Place to Work Survey, and Paul McGinniss, a Neuroscientist at the NeuroLeadership Institute and measures the degree to which you agreed with the seven statements in the manager effectiveness portion of the growth survey.
            p.blue-color 
            sup.blue-color 5 
            span.blue-color Our measurement of behaviors is informed by the behaviors demonstrated by people who have historically been successful at Engage. Behaviors measures the degree to which you exemplify the nine key behaviors from your own perspective, and the perspectives of your manager, your team, and your multi-raters. Similar behaviors are also measured in Amsterdam and Sydney.
            p.blue-color 
            sup.blue-color 6 
            span.blue-color Our measurement of skills is informed by the skills demonstrated by people who have historically be successful in your function at Engage. Skills measures the degree to which you exemplify a specific set of skills from your own perspective, and the perspectives of your manager, your team, and your multi-raters. 
            p.blue-color 
            sup.blue-color 7 
            span.blue-color Growth Midset: Stanford psychology professor, Carol Dweck’s research found that people who have a growth mindset believe that their most basic abilities can be developed through dedication and hard work—intelligence and talent are just the starting point. This view creates a desire for learning and a resilience that is essential for great accomplishment. A growth mindset is the opposite of a fixed mindset, where people believe their basic qualities, like their intelligence or talent, are simply fixed traits. They spend their time documenting their intelligence or talent instead of developing them.
            
    each js_file in js_files
      script(src="#{requestedUrl}/js/#{js_file}")